﻿@*<div class="chat-window">
        <div class="js-chat-body hidden">
            <div id="discussion">
            </div>
            <label for="displayname">Name:</label>
            <input class="form-control" type="text" id="displayname" />
            <label for="message">Message:</label>
            <input class="form-control" type="text" id="message" />
            <input class="btn btn-success" type="button" id="sendmessage" value="Send Message" />
        </div>
        <div class="chat-header">
            <input class="btn btn-success chat-button" type="button" value="Show Chat" id="show-chat" />
        </div>
    </div>*@

<head>
    <title>ChatBox</title>
    <link rel="stylesheet" type="text/css" href="~/Content/Chat.css" />
</head> 
<div class="chat-window">
    <div class="js-chat-body hidden">
        <div class="chatbox">
            <div class="chatlogs" id="discussion">
            </div>
                <div class="chat-form">
                    <textarea id="message"></textarea>
                    @*<input class="btn btn-success" type="button" id="sendmessage" value="Send" />*@
                    <button type="button" id="sendmessage">Send</button>
                </div>
                <input class="form-control" type="text" id="displayname" placeholder="Enter your name" style="margin:5px 5px 5px 0px; width:130px" required />
        </div>
    </div>
    <div class="chat-header">
        <input class="btn btn-success chat-button" type="button" value="Show Chat" id="show-chat" />
    </div>
</div>