﻿
@{
    ViewBag.Title = "Chat";
}


<h2 style="text-align:center">Chat support</h2>

<div class="row">
    <div class="jumbotron">
        <div id="chatroom" class="row">
        </div>
        <div style="text-align:center" class="col-sm-12">
            <input type="text" class="input-sm" id="message" />
            <input type="button" id="sendmessage" class="btn btn-primary" value="Отправить" />
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Scripts/jquery.signalR-2.4.1.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script>

        $(function () {

            var chat = $.connection.chatHub;

            chat.client.addMessage = function (name, message) {
                $('#chatroom').append('<div class="btn col-sm-12"><strong>' + name
                    + '</strong>: ' + message + ' </div>');
            };


            $.connection.hub.start().done(function () {
                $('#sendmessage').click(function () {
                    chat.server.send("You", $('#message').val());
                    $('#message').val('');
                });
                chat.server.connect();

            });

        });


    </script>
}

