﻿@using MVC_application.Helpers

@model MVC_application.Models.GoodsModel

@{
                ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <table class="table table-striped" >
        <tr>
            <th>@Html.DisplayNameFor(c => Model.Goods.First().Id)</th>
            <th>@Html.DisplayNameFor(c => Model.Goods.First().Name)</th>
            <th>@Html.DisplayNameFor(c => Model.Goods.First().Price)</th>
            <th>@Html.Label("Available actions")</th>
        </tr>
        @foreach (var good in Model.Goods)
        {
        <tr>
            <td>@good.Id</td>
            <td>@good.Name</td>
            <td>@good.Price</td>
            <td>@Html.ActionLink("View Details", "GoodDetails", new { id = good.Id }, new { @class = "btn btn-info btn-sm" })</td>
        </tr>
        }
    </table>
    <div class="text-center">
        @Html.DisplayPagination(Model.PageInfo, (i) => Url.Action("Index", "Home", new { page = i }))
    </div>
</div>

