﻿.chatbox {
    width:405px;
    min-width:390px;
    height:500px;
    background: #fff;
    padding:10px;
    margin: 20px auto;
    box-shadow: 0 3px #ccc;
    border-radius:5px;
    opacity:0.98;
}

.chatlogs {
    padding: 10px;
    width: 100%;
    height: 350px;
    overflow-x:hidden;
    overflow-y: scroll; 
}

.chatlogs::-webkit-scrollbar {
    width:10px;
}

.chatlogs::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: rgba(0,0,0,.1);
}

.chat {
        display: flex;
        flex-flow: row wrap;
        align-items: flex-start;
        margin-bottom: 10px;
}

.chat .user-name {
        width: 45px;
        height: 45px;
        line-height:45px;
        vertical-align:middle;
        text-align:center;
        background: #ccc;
        border-radius: 50%;
        overflow: hidden;
        font-size:12px;
}

.chat .chat-message {
    width:80%;
    padding: 10px;
    margin: 5px 10px 0;
    border-radius: 10px;
    color: #fff;
    font-size: 14px;
}

.others .chat-message {
    background: #1adda4;
}

.self .chat-message {
    background: #1ddced;
    order: -1;
}

.chat-form {
    margin-top: 20px;
    display:flex;
    align-items: flex-start;
}

.chat-form textarea {
    background: #fbfbfb;
    width: 75%;
    height: 50px;
    border: 2px solid #eee;
    border-radius: 3px;
    resize:none;
    padding: 10px;
    font-size: 12px;
    color: #333;
}

.chat-form textarea:focus {
    background: #fff;
}

.chat-form textarea::-webkit-scrollbar {
        width: 10px
}

.chat-form textarea::-webkit-scrollbar-thumb {
        border-radius: 5px;
        background: rgba(0,0,0,.1);
}

.chat-form button {
        background: #1ddced;
        padding: 10px 20px;
        font-size: 14px;
        color: #fff;
        border: none;
        margin: 4px 10px;
        border-radius: 3px;
        box-shadow: 0 0px 0 #0eb2c1;
        cursor: pointer;
        -webkit-transition: background .2s ease;
        -moz-transition: background .2s ease;
        -o-transition: background .2s ease;
}

.chat-form button:hover {
    background: #13c8d9;
}
