﻿@using MVC_application.Models;
@model MVC_application.Models.Cart
@{
    ViewBag.Title = "Index";
}

<head>
    <link href="~/Content/Site.css" rel="stylesheet">
</head>
<table class="table table-striped">
    <tr>
        <th>@Html.DisplayNameFor(c => Model.OrderItems.First().Good.Name)</th>
        <th>@Html.DisplayNameFor(c => Model.OrderItems.First().Good.Price)</th>
        <th>@Html.DisplayNameFor(c => Model.OrderItems.First().Quantity)</th>
        <th>Стоимость</th>
        <th></th>
    </tr>
    @foreach (var cart in (Cart)Session["cart"])
    {
        <tr>
            <td>@cart.Good.Name</td>
            <td>@cart.Good.Price</td>
            <td>@cart.Quantity</td>
            <td>@(String.Format("{0:N0}", cart.Good.Price * cart.Quantity))</td>
            <td>
                <span title="Delete">
                    @Html.ActionLink(" ", "DeleteFromCart", new { id = cart.Good.Id }, new { @class = "glyphicon glyphicon-remove gibtncol-red" }) @*new {onclick = "return confirm ('Are you sure?');"}*@
                </span>
            </td>
        </tr>
    }
    <tr>
        <td colspan="3" align="right">Всего:</td>
        <td>
            @{ 
                Cart temp = (Cart)Session["cart"];
                var total = String.Format("{0:N0}", temp.Sum(x => x.Good.Price * x.Quantity));
            }
            @total Грн
        </td>
        <td></td>
    </tr>
</table>
<br />
@Html.ActionLink("Back to List", "Index","Home", new object(), new { @class = "btn btn-primary btn-sm" })

